/micromouse_exercises.X/.generated_files/
/micromouse_exercises.X/nbproject/
/micromouse_exercises.X/nbproject/Makefile-default.mk
/micromouse_exercises.X/nbproject/Makefile-genesis.properties
/micromouse_exercises.X/nbproject/configurations.xml